/* Monty Python's Flying Trivia
basic trivia game assignment
© Richard Trevillian, 2018-09-01
University of Richmond, Full Stack Web Development Bootcamp
CSS styles */
* {
    /* border: .1px solid red; */
    box-sizing: border-box;
}

/* START DECLARE NATIVE SYSTEM FONTS */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* END DECLARE NATIVE SYSTEM FONTS */
/* START THE MAIN GAME CONTAINERS */
body {
    background-color: #8db9cd;
}

/* CONTAINER holds all content centered with MARGIN and limits MAX-WIDTH */
#container {
    margin: 0 auto;
    max-width: 980px;
    padding: 2%;
    /* background-color: beige; */
}

/* END THE MAIN GAME CONTAINERS */
/* START THE CONTENT CONTAINERS */
#logo_box {
    text-align: center;
    /* background-color: bisque; */
}

#logo {
    width: 60%;
}

#content_box {
    margin: 0 5% 0px 5%;
    max-width: 980px;
    background: url(/assets/images/parchment.jpg);
    /* background-color: teal; */
    background-size: contain;
    background-repeat: repeat-y;
}

/* END THE CONTENT CONTAINERS */
/* START THE START SCREEN */
#instruct {
    padding: 2%;
    /* background-color: plum; */
}

#instruct_img {
    margin: 30px 5% 5px 5%;
    width: 90%;
    /* background-color: palegreen; */
}

#instructions {
    margin: 30px 10% 10px 10%;
    font-family: 'system';
    font-size: 1.1rem;
    line-height: 1.5rem;
    /* text-align: center; */
    /* background-color: paleturquoise; */
}

#btn_space {
    padding: 10px 0 20px 0;
}

#btn_img {
    width: 100%;
}

/* END THE START SCREEN */
/* MEDIA QUERIES BELOW */
/* MAX WIDTH MEDIA QUERIES BELOW */
@media screen and (max-width: 640px) {
    #XXX {
        /* width: 300px; */
    }
}

@media screen and (max-width: 768px) {
    #XXX {
        /* width: 350px; */
    }
}

@media screen and (max-width: 980px) {
    #XXX {
        /* width: 440px; */
    }
}

/* MAX WIDTH MEDIA QUERIES ABOVE */
/* MIN WIDTH MEDIA QUERIES BELOW */
@media screen and (min-width: 640px) {
    #XXX {
        /* width: 240px; */
    }
}

@media screen and (min-width: 768px) {
    #XXX {
        /* width: 440px; */
    }
}

@media screen and (min-width: 980px) {
    #XXX {
        /* width: 640px; */
    }
}

/* MIN WIDTH MEDIA QUERIES ABOVE */
/* MEDIA QUERIES ABOVE */