/* Monty Python's Flying Trivia
basic trivia game assignment
© Richard Trevillian, 2018-09-01
University of Richmond, Full Stack Web Development Bootcamp
CSS styles */
* {
    /* border: .1px solid red; */
    box-sizing: border-box;
}

/* START  FONTS */

/* Specify the native system font for various devices 2018 */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Webfont: CastIron */
@font-face {
    font-family: 'CastIron';
    src: url('../fonts/CastIron.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CastIron.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/CastIron.woff') format('woff'), /* Modern Browsers */
         url('../fonts/CastIron.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/CastIron.svg#CastIron') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Comic Papyrus */
@font-face {
    font-family: 'ComicPapyrus';
    src: url('../fonts/Comic Papyrus.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Comic Papyrus.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Comic Papyrus.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Comic Papyrus.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Comic Papyrus.svg#Comic Papyrus') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* END FONTS */


/* START THE COUNTDOWN TIMER */

#timer {
    font-family: 'ComicPapyrus';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    /* height: 50px; */
    text-align: center;
    font-size: 2rem;
    padding: 5px;
    background-color: rgb(157, 4, 4);
    color: rgb(218, 250, 6);
    box-shadow: 0 0 10px rgb(5, 11, 60);

}


/* END THE COUNTDOWN TIMER */




/* START THE MAIN GAME CONTAINERS */
body {
    background: url(../images/clouds.png),  #5886ad;
    height: 100vh;
}

p, legend {
    font-family: 'ComicPapyrus';
    font-size: 1.3rem;
    line-height: 1.8rem;
}

/* CONTAINER holds all content centered with MARGIN and limits MAX-WIDTH */
#container {
    margin: 0 auto;
    max-width: 980px;
    padding: 2%;
    /* background-color: beige; */
}

/* END THE MAIN GAME CONTAINERS */
/* START THE CONTENT CONTAINERS */
#logo_box {
    text-align: center;
    margin-top: 50px;
    /* background-color: bisque; */
}

#logo {
    width: 90%;
    margin-bottom: 10px;
}

#content_box {
    margin: 0 5% 0px 5%;
    padding: 20px 0 0 0;
    max-width: 980px;
    background: url(../images/parchment.jpg);
    /* background-color: teal; */
    background-size: contain;
    background-repeat: repeat-y;
    box-shadow: 0 0 40px rgb(95, 99, 131);

}

/* END THE CONTENT CONTAINERS */
/* START THE START SCREEN */
#instruct_box p {
    /* font-size: 1.9rem; */
    /* background-color: plum; */
}


#headline_img {
    margin: 30px 5% 5px 5%;
    width: 90%;
    /* background-color: palegreen; */
}

#body_content {
    margin: 30px 10% 10px 10%;
    /* font-family: 'system'; */
    /* font-size: 1.1rem; */
    /* line-height: 1.5rem; */
    /* text-align: center; */
    /* background-color: paleturquoise; */
}

.btn_space {
    padding: 10px 0 0 0;
}

.btn_img {
    width: 100%;
}

#btn_done {
    position: relative;
    /* right: -85px; */
    bottom: -6px;
    /* width: 100%; */
}
legend {
    background-color: rgb(233, 229, 217);
    width: 100%;
    padding: 20px;
    border-radius: 2rem;
    color: red;
    font-size: 1.2rem;
    line-height: 1.6rem;
    box-shadow: 0 0 35px rgb(167, 158, 149);

    /* opacity: .7; */
}

fieldset p {
    margin-left: 20px;
}

fieldset {
    margin-bottom: 30px;
    border: 0px solid lightgray;
    /* border-radius: 2em; */
}

h3 {
    font-family: 'ComicPapyrus';
    font-size: 1.3em;
    margin: 15px;
}

.result_box {
    /* display: flex; */
    /* justify-content: flex-start; */
    margin-bottom: 20px;
    display: table;
    width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.result_icon {
    float: left;
}

.result_text {
    float: left;
}

.result_number {
    float: right;
}

#corrBox {
    color: darkgreen;
    text-shadow: 4px 4px 10px #aaa;

}

#inBox {
    color: maroon;
    text-shadow: 4px 4px 10px #aaa;

}

#unBox {
    color: dimgrey;
    text-shadow: 4px 4px 10px #aaa;

}

/* END THE START SCREEN */
/* MEDIA QUERIES BELOW */
/* MAX WIDTH MEDIA QUERIES BELOW */
@media screen and (max-width: 640px) {
    h3 {
        /* font-size: 1.3em; */
        margin: 0;
    }

}

@media screen and (max-width: 768px) {
    #XXX {
        /* width: 350px; */
    }
}

@media screen and (max-width: 980px) {
    #XXX {
        /* width: 440px; */
    }
}

/* MAX WIDTH MEDIA QUERIES ABOVE */
/* MIN WIDTH MEDIA QUERIES BELOW */
@media screen and (min-width: 640px) {
    h3 {
        font-size: 2em;
        /* padding: 0; */
    }
    
}

@media screen and (min-width: 768px) {
    #XXX {
        /* width: 440px; */
    }
}

@media screen and (min-width: 980px) {
    h3 {
        font-size: 2.5em;
    }
}

/* MIN WIDTH MEDIA QUERIES ABOVE */
/* MEDIA QUERIES ABOVE */