/* Monty Python's Flying Trivia
basic trivia game assignment
© Richard Trevillian, 2018-09-01
University of Richmond, Full Stack Web Development Bootcamp
CSS styles */
* {
    /* border: .1px solid red; */
    box-sizing: border-box;
}

/* START DECLARE NATIVE SYSTEM FONTS */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* END DECLARE NATIVE SYSTEM FONTS */
/* START THE MAIN GAME CONTAINERS */
body {
    background-color: #8db9cd;
}

/* CONTAINER holds all content centered with MARGIN and limits MAX-WIDTH */
#container {
    margin: 0 auto;
    max-width: 980px;
    padding: 2%;
    /* background-color: beige; */
}

/* END THE MAIN GAME CONTAINERS */
/* START THE CONTENT CONTAINERS */
#logo_box {
    text-align: center;
    /* background-color: bisque; */
}

#logo {
    width: 60%;
}

#content_box {
    margin: 0 5% 0px 5%;
    padding: 20px 0 0 0;
    max-width: 980px;
    background: url(/assets/images/parchment.jpg);
    /* background-color: teal; */
    background-size: contain;
    background-repeat: repeat-y;
}

/* END THE CONTENT CONTAINERS */
/* START THE START SCREEN */
#instruct_box {
    padding: 2%;
    /* background-color: plum; */
}

#timer_box {
    margin: 30px 10% 10px 10%;
    /* padding: 2%; */
    /* width: 100%; */
    height: 100px;
    background-color: plum;
    opacity: .5;
}

#headline_img {
    margin: 30px 5% 5px 5%;
    width: 90%;
    /* background-color: palegreen; */
}

#body_content {
    margin: 30px 10% 10px 10%;
    font-family: 'system';
    font-size: 1.1rem;
    line-height: 1.5rem;
    /* text-align: center; */
    /* background-color: paleturquoise; */
}

#btn_space {
    padding: 10px 0 0 0;
}

#btn_img {
    width: 100%;
}

legend {
    background-color: rgb(233, 229, 217);
    width: 100%;
    padding: 20px;
    border-radius: 2rem;
    color: red;
    font-size: 1.2rem;
    line-height: 1.6rem;
    box-shadow: 0 0 35px rgb(167, 158, 149);

    /* opacity: .7; */
}

fieldset p {
    margin-left: 40px;
}

fieldset {
    margin-bottom: 30px;
    border: 0px solid lightgray;
    /* border-radius: 2em; */
}

h3 {
    font-size: 1.1em;
    margin: 15px;
}

.result_box {
    /* display: flex; */
    /* justify-content: flex-start; */
    margin-bottom: 20px;
    display: table;
    width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.result_icon {
    float: left;
    /* background-color: aliceblue; */
    /* border-radius: 100px; */
    /* height: 50px; */
    /* width: 50px; */
    /* margin-left: 10px; */
    /* margin-right: 80%; */
}

.result_text {
    float: left;
    /* margin-left: 20px; */
    /* margin-right: 200px; */
}

.result_number {
    float: right;
    /* margin-left: 10px; */
    /* margin-right: 80%; */
}

.icon {
    height: 50px;
}

/* END THE START SCREEN */
/* MEDIA QUERIES BELOW */
/* MAX WIDTH MEDIA QUERIES BELOW */
@media screen and (max-width: 640px) {
    #XXX {
        /* width: 350px; */
    }
}

@media screen and (max-width: 768px) {
    #XXX {
        /* width: 350px; */
    }
}

@media screen and (max-width: 980px) {
    #XXX {
        /* width: 440px; */
    }
}

/* MAX WIDTH MEDIA QUERIES ABOVE */
/* MIN WIDTH MEDIA QUERIES BELOW */
@media screen and (min-width: 640px) {
    h3 {
        font-size: 2em;
    }
}

@media screen and (min-width: 768px) {
    #XXX {
        /* width: 440px; */
    }
}

@media screen and (min-width: 980px) {
    h3 {
        font-size: 2.5em;
    }
}

/* MIN WIDTH MEDIA QUERIES ABOVE */
/* MEDIA QUERIES ABOVE */